html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #CCC; }

header {
  height: 50px;
  width: 100%;
  background-color: lightblue; }
  header .header-content {
    display: flex;
    align-items: center;
    /*background-color: yellow;*/
    margin: 0px auto;
    height: 100%;
    width: 80%; }
  header .header-actions {
    display: inline-block;
    margin-left: auto; }

.content-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFF; }

.finances-component {
  width: 100%; }
  .finances-component .content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFF; }
  .finances-component .finances-date-range-select {
    min-width: 150px; }
  .finances-component .finances-transactions-table .data-merchant {
    width: 45%; }
