.finances-component {
  width: 100%;
  .content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background-color: #FFF;
  }

  .finances-date-range-select {
    min-width: 150px;
  }

  .finances-transactions-table {
    .data-merchant {
      width: 45%;
    }
  }
}
